.header {
  background: #f5f5f5 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}


.menu {
  background: #f5f5f5 !important;
}

.logoContainer {
  display: flex;
  width: 2.5rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;

  img {
    width: 100%;
  }
}