$extra-small: 0px;
$small-screen: 600px;
$medium-screen: 900px;
$large-screen: 1200px;
$extra-large-screen: 1560px;

.BOHMInfoText {
  display: flex;
  font-size: 1.5rem;
  padding-top: 5rem;
  width: 80%;
  float: right;
  margin-right: 1rem;

  :global p {
    width: 80%;
    color: #000;
    font-weight: 400;
  }

  @media (max-width: $small-screen) {
    justify-content: center;
    width: 100%;
    padding: 2rem;
  }
}

.triangleContainer {
  display: flex !important;
  justify-content: flex-end !important;
  width: 81vw !important;
  @media (max-width: $small-screen) {
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }
}

.triangleTextContainer {
  width: 70%;
  float: right;
  margin-top: 5rem;

  :global p {
    font-size: 2.7rem;
    font-weight: 400;
    color: #000;
    text-align: right;

    @media (max-width: $small-screen) {
      width: 100%;
      padding: 2rem;
    }
  }

  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.triangleImage {
  width: 32%;
  object-fit: contain;
  object-position: center;

  @media (max-width: $small-screen) {
    width: 80%;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
}

.imageContainer {
  margin-bottom: 20rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  img ~ img {
    margin-left: 5rem;
  }
  
  @media (max-width: $small-screen) {
    flex-direction: column;
    justify-content: center;
    img ~ img {
      margin-left: 0;
    }
  }
}