$small-screen: 576px;

.bannerContainer {
  padding: 2rem;
}

.bannerMainText {
  @media (max-width: $small-screen) {
    font-size: 2.5rem;
  }
}

.bannerSubText {
  font-size: 1rem;
  color: black;
}

.bannerImg {
  width: 100%;
  height: 80%;
  object-fit: contain;
  object-position: center;
}

.buttonContainer {
  padding: 2rem;

  .downloadButton {
    border-radius: 13px !important;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    height: 90vh;
    width: 20vw;
  }
}

.container {
  padding: 2rem;

  @media (max-width: $small-screen) {
    padding: 0.2rem;
  }
}

.imageContainer {
  width: 100%;
  height: 80%;
  object-fit: contain;
  object-position: center;

  @media (max-width: $small-screen) {
    max-width: 400px;
  }
}

.textContainer {
  color: black !important;
  padding-left: 5rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  flex-wrap: wrap;
  font-weight: bold;

  @media (max-width: $small-screen) {
    padding: 2rem;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  width: 50%;

  @media (max-width: $small-screen) {
    padding: 0.5rem;
    width: 90%;
  }

  h2 {
    margin-top: 0;
  }
}