$small-screen: 576px;

.container {
  padding: 2rem;

  @media (max-width: $small-screen) {
    padding: 0.2rem;
  }
}

.imageContainer {
  width: 100%;
  height: 80%;
  object-fit: contain;
  object-position: center;

  @media (max-width: $small-screen) {
    max-width: 400px;
  }
}

.textContainer {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (max-width: $small-screen) {
    padding: 2rem;
  }
}